<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contribuyente">
            <h2><span>Contribuyente</span> {{contribuyente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{contribuyente.nombre}}</span>
                </dd>
                <dt><span>Apellido</span></dt>
                <dd>
                    <span>{{contribuyente.apellido}}</span>
                </dd>
                <dt><span>Cuit</span></dt>
                <dd>
                    <span>{{contribuyente.cuit}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contribuyente.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contribuyente', contribuyente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
