<div>
    <h2 id="page-heading">
        <span>Inspectors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inspector" [routerLink]="['/inspector/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Inspector
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="inspectors?.length === 0">
        <span>No inspectors found</span>
    </div>
    <div class="table-responsive" *ngIf="inspectors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fotopatente"><span>Fotopatente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fotocamion"><span>Fotocamion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vehiculomodelo"><span>Vehiculomodelo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="infoadicional"><span>Infoadicional</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="celular"><span>Celular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cuit"><span>Cuit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="patente"><span>Patente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inspector of inspectors ;trackBy: trackId">
                <td><a [routerLink]="['/inspector', inspector.id, 'view' ]">{{inspector.id}}</a></td>
                <td>
                    <a *ngIf="inspector.fotopatente" (click)="openFile(inspector.fotopatenteContentType, inspector.fotopatente)">
                        <img [src]="'data:' + inspector.fotopatenteContentType + ';base64,' + inspector.fotopatente" style="max-height: 30px;" alt="inspector image"/>
                    </a>
                    <span *ngIf="inspector.fotopatente">{{inspector.fotopatenteContentType}}, {{byteSize(inspector.fotopatente)}}</span>
                </td>
                <td>
                    <a *ngIf="inspector.fotocamion" (click)="openFile(inspector.fotocamionContentType, inspector.fotocamion)">
                        <img [src]="'data:' + inspector.fotocamionContentType + ';base64,' + inspector.fotocamion" style="max-height: 30px;" alt="inspector image"/>
                    </a>
                    <span *ngIf="inspector.fotocamion">{{inspector.fotocamionContentType}}, {{byteSize(inspector.fotocamion)}}</span>
                </td>
                <td>{{inspector.vehiculomodelo}}</td>
                <td>{{inspector.infoadicional}}</td>
                <td>{{inspector.celular}}</td>
                <td>{{inspector.cuit}}</td>
                <td>{{inspector.patente}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/inspector', inspector.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inspector', inspector.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inspector', { outlets: { popup: inspector.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="inspectors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
